/*管理画面*/
.drawer-menu-wrapper {
  position: absolute;
  z-index: $z-modal;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $bg;
  word-break: break-all;

  .drawer-menu {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header {
      display: flex;
      flex-direction: column;
      .start-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        background-color: white;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: $gray;
        }
      }
      .room-info {
        flex: 1;
        min-width: 0;

        .room-title {
          font-size: 150%;
        }
        .room-url {
          display: flex;
          button {
            display: flex;
            align-items: center;
            padding: 0.5em;
            margin: 1em 1em 1em 0;
            background-color: white;
            border: none;
            border-radius: 4px;
            &:hover {
              background-color: $gray;
            }
            .room-text {
              text-align: left;
            }
            .copy-button {
              border: none;
              background: none;
              color: rgb(110, 110, 110);
              width: 1.5em;
              height: 1.5em;
              border-radius: 100%;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
    &__topic-list {
      flex: 1 1 0;
      overflow-y: scroll;
      font-size: 120%;
      margin-top: 30px;

      .topic {
        display: flex;
        align-items: center;
        padding: 0.5em 0;
        margin-bottom: 0.5em;
      }

      .active {
        background-color: white;
        .label {
          background-color: #f6666e;
          color: white;
        }
      }
      .paused {
        background-color: white;
        .label {
          color: #f6666e;
          background-color: white;
          border: solid #f6666e 2px;
          box-sizing: border-box;
        }
      }
      .finished {
        background-color: $gray;
      }
      .not-started {
        background-color: white;
        color: $disabled-gray;
        .buttons > button {
          color: $disabled-gray;
        }
      }

      .topic-number {
        padding-left: 10px;
        min-width: 3em;
        width: 5%;
        font-weight: bold;
      }

      .topic-name {
        flex: 1 1 0;

        .label {
          font-size: 70%;
          font-weight: bold;
          padding: 3px 10px;
          border-radius: 24px;
          margin-left: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .topic-info {
        width: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .text-mini {
          font-size: 60%;
        }
      }

      .buttons {
        display: flex;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          border: none;
          background-color: rgba(255, 0, 0, 0);
          color: gray;
          & .danger {
            color: $danger;
          }
        }
      }
    }
    &__footer {
      .end-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        background-color: white;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: $gray;
        }
        & .danger {
          padding-left: 0.5em;
          color: $danger;
        }
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .drawer-menu-wrapper {
    width: calc(80% - 440px - 2em);
  }
  .room-info {
    padding: 0px 3%;
  }
}
