/* 管理画面 */
.drawer-menu-wrapper {
  position: fixed;
  right: 0;
  z-index: $z-modal;
  display: none;
  height: 100%;
  word-break: break-all;
  background-color: $bg;

  @media screen and (min-width: $large) {
    display: block;
  }

  .drawer-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px 30px;

    &__header {
      display: flex;
      flex-direction: column;

      .start-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        margin-top: 2rem;
        font-size: 18px;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.3s;

        &__label {
          margin-right: 0.5rem;
        }

        &:hover {
          background-color: #fbfbfb;
          border-color: $gray;
        }
      }

      .room-info {
        flex: 1;
        min-width: 0;

        .room-title {
          font-size: 150%;
        }

        .room-url {
          display: flex;

          button {
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            margin: 1em 1em 1em 0;
            font-size: 14px;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 4px;
            transition: all 0s;

            &:hover {
              background-color: #fbfbfb;
              border-color: $gray;
            }

            .room-text {
              margin-right: 0.5rem;
              text-align: left;

              & > .bold {
                font-weight: bold;
              }
            }

            .copy-button {
              // width: 1.5em;
              // height: 1.5em;
              align-items: center;
              justify-content: center;
              color: $text-gray;
              background: none;
              border: none;

              &.check-icon {
                color: #3ba73b;
              }
            }
          }
        }
      }
    }

    &__topic-list {
      margin-top: 30px;

      // flex: 1 1 0;
      overflow-y: scroll;
      font-size: 120%;

      .topic {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        border-radius: 4px;
      }

      .ongoing {
        background-color: white;

        .label {
          color: white;
          background-color: #f6666e;
          border: solid transparent 2px;
        }
      }

      .paused {
        background-color: white;

        .label {
          box-sizing: border-box;
          color: #f6666e;
          background-color: white;
          border: solid #f6666e 2px;
        }
      }

      .finished {
        background-color: $gray;
      }

      .not-started {
        color: $disabled-gray;
        background-color: white;
      }

      .topic-number {
        width: 5%;
        min-width: 3em;
        padding-left: 10px;
      }

      .topic-name {
        display: flex;
        flex: 1 1 0;
        align-items: center;

        .label {
          display: inline-block;
          flex-shrink: 0;
          padding: 0 8px;
          margin-left: 1rem;
          font-size: 50%;
          font-weight: bold;
          vertical-align: middle;
          border-radius: 24px;
        }
      }

      .topic-infos {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;

        .topic-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 4em;

          & .text-mini {
            font-size: 12px;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        margin-left: 1rem;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          color: $black;
          border: none;
          border-radius: 100%;
          transition: all 0.1s;

          &:hover {
            background: rgba($black, 0.08);
          }

          &.danger {
            color: #dd4848;
          }

          &.pause {
            margin-right: 0.5rem;
          }

          &.reopen {
            padding: 10px;
          }
        }
      }
    }

    &__footer {
      margin-top: 1rem;

      .end-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s;

        &:hover {
          background-color: #fbfbfb;
          border-color: $gray;
        }

        &__icon {
          color: #dd4848;
        }

        &__label {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .room-info {
    padding: 0;
  }
}
