/*管理画面*/
.drawer-menu-wrapper {
  position: absolute;
  z-index: $z-modal;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $bg;
  word-break: break-all;
  display: none;
  @media screen and (min-width: $large+px) {
    display: block;
  }

  .drawer-menu {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header {
      display: flex;
      flex-direction: column;
      .start-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 18px;
        margin-top: 2rem;
        transition: all 0.3s;
        &__label {
          margin-right: 0.5rem;
        }
        &:hover {
          background-color: #fbfbfb;
          border-color: $gray;
        }
      }
      .room-info {
        flex: 1;
        min-width: 0;

        .room-title {
          font-size: 150%;
        }
        .room-url {
          display: flex;
          button {
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            margin: 1em 1em 1em 0;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 14px;
            transition: all 0s;
            &:hover {
              background-color: #fbfbfb;
              border-color: $gray;
            }
            .room-text {
              text-align: left;
              margin-right: 0.5rem;
              & > .bold {
                font-weight: bold;
              }
            }
            .copy-button {
              border: none;
              background: none;
              color: $text-gray;
              // width: 1.5em;
              // height: 1.5em;
              align-items: center;
              justify-content: center;

              &.check-icon {
                color: #3ba73b;
              }
            }
          }
        }
      }
    }
    &__topic-list {
      // flex: 1 1 0;
      overflow-y: scroll;
      font-size: 120%;
      margin-top: 30px;

      .topic {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        border-radius: 4px;
      }

      .ongoing {
        background-color: white;
        .label {
          border: solid transparent 2px;
          background-color: #f6666e;
          color: white;
        }
      }
      .paused {
        background-color: white;
        .label {
          color: #f6666e;
          background-color: white;
          border: solid #f6666e 2px;
          box-sizing: border-box;
        }
      }
      .finished {
        background-color: $gray;
      }
      .not-started {
        background-color: white;
        color: $disabled-gray;
      }

      .topic-number {
        padding-left: 10px;
        min-width: 3em;
        width: 5%;
      }

      .topic-name {
        flex: 1 1 0;
        display: flex;
        align-items: center;

        .label {
          font-size: 50%;
          font-weight: bold;
          padding: 0px 8px;
          border-radius: 24px;
          margin-left: 1rem;
          display: inline-block;
          vertical-align: middle;
          flex-shrink: 0;
        }
      }
      .topic-infos {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        .topic-info {
          width: 4em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & .text-mini {
            font-size: 60%;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          border: none;
          color: $black;
          transition: all 0.1s;

          &:hover {
            background: rgba($black, 0.08);
          }

          &.danger {
            color: #dd4848;
          }

          &.pause {
            margin-right: 0.5rem;
          }
        }
      }
    }
    &__footer {
      margin-top: 1rem;
      .end-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s;
        &:hover {
          background-color: #fbfbfb;
          border-color: $gray;
        }
        &__icon {
          color: #dd4848;
        }
        &__label {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .drawer-menu-wrapper {
    width: calc(80% - 440px - 2em);
  }
  .room-info {
    padding: 0px;
  }
}
