@charset "UTF-8";
body {
  font-family: "M PLUS 1p", sans-serif;
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: auto;
}

label {
  position: relative;
  cursor: pointer;
  padding-left: 0px;
}

label > input[type="checkbox"] {
  outline: none;
  margin: 0.2rem;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

label > input[type="checkbox"]:focus-visible::before {
  outline: auto;
  outline-offset: 2px;
  outline-color: blue;
}

label > input[type="checkbox"]::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid #231815;
  border-radius: 1px;
}

label > input[type="checkbox"]:checked::before {
  background: #3bb7ff;
  border-color: transparent;
}

label > input[type="checkbox"]::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background: white;
  -webkit-clip-path: polygon(
    10% 50%,
    20% 40%,
    45% 60%,
    80% 20%,
    90% 30%,
    45% 83%
  );
  clip-path: polygon(10% 50%, 20% 40%, 45% 60%, 80% 20%, 90% 30%, 45% 83%);
}

label > input[type="checkbox"]:checked::after {
  opacity: 1;
}

textarea:focus {
  outline: none;
}

span.key-span {
  background: #6e6e6e;
  color: #f3f3f3;
  border-radius: 1px;
  padding: 0 0.4em;
  margin: 0 0.2em;
  font-weight: bold;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  min-width: 0;
}

.page header {
  width: 100vw;
}

.page header button {
  float: right;
  border: none;
  color: #6e6e6e;
  background-color: white;
}

.page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: scroll;
}

.topic-block {
  white-space: normal;
  height: 100%;
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
}

@media screen and (min-width: 551px) {
  .topic-block {
    margin: 0 2em;
    width: 440px;
  }
}

.active-topic {
  background: #f0f0ac;
}

.finished-topic {
  background: #e4e4e4;
  color: #9e9e9e;
}

.topic-header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0.75em 0;
  position: relative;
}

.topic-header > .top-line > .prefix {
  background: white;
  color: #333;
  font-size: 120%;
  padding: 0.25em 0.5em;
}

.topic-header > .main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1em;
}

.topic-header > .main-line > h1.title {
  display: inline-block;
  padding: 0 0.5em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.topic-header > .main-line > .download-button {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  border: none;
  color: #333;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.topic-header > .main-line > .download-button:hover {
  background: rgba(214, 214, 214, 0.3);
}

.topic-header > .main-line > .download-button:active {
  background: rgba(187, 187, 187, 0.3);
}

.topic-header > .main-line > .download-button:disabled {
  color: rgba(204, 204, 204, 0.5);
  background: transparent;
  cursor: default;
}

.chat-area {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #e4e4e4;
  position: relative;
  overflow-y: scroll;
}

.chat-area > .text-zone {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow-y: scroll;
}

.chat-area > .text-zone > .scrollable {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 1em 1rem;
}

.chat-area > .text-zone .list-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chat-area > .text-zone .list-complete-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.chat-area > .text-zone .list-complete-enter,
.chat-area > .text-zone .list-complete-leave-to {
  opacity: 0;
}

.chat-area > .text-zone .list-complete-leave-active {
  position: absolute;
}

.chat-area > .stamp-zone {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 4rem;
  background: white;
  margin-top: auto;
  margin-bottom: 1em;
  position: relative;
}

.chat-area > .stamp-zone .stamp-submit-button {
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  border: 4px solid #cf0d0d;
  background: #cf0d0d;
  color: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-color: #cf0d0d;
}

.chat-area > .stamp-zone .stamp-submit-button:hover:not(:disabled),
.chat-area > .stamp-zone .stamp-submit-button:active:not(:disabled) {
  background: white;
  color: #cf0d0d;
}

.chat-area > .stamp-zone .stamp-submit-button:disabled {
  background: silver;
  border-color: silver;
  cursor: default;
}

.chat-area > .message-badge {
  position: absolute;
  width: 100%;
  max-width: 200px;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  padding: 0.5em 2em;
  border-radius: 999px;
  border: 2px solid #3889e6;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #d4d4d4;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 30;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.chat-area > .message-badge:hover {
  background: #fafafa;
  -webkit-transform: translateX(-50%) scale(1.05);
  transform: translateX(-50%) scale(1.05);
}

.input-area {
  height: 150px;
  bottom: 0;
  padding: 0.5em 1em;
  background: white;
  border-top: 2px solid #e4e4e4;
}

.input-area > .main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.input-area > .main-line > .textarea {
  padding: 0.5em;
  border: none;
  background: transparent;
  border-radius: 5px;
  margin-right: 1em;
  line-height: 1.5;
  width: 100%;
  min-height: 5em;
  white-space: pre-line;
}

.input-area > .main-line > .textarea:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: #a7a7a7;
}

.input-area > .main-line > .textarea:focus {
  outline: none;
}

.input-area > .main-line > .submit-button {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 2.4em;
  height: 2.4em;
  vertical-align: middle;
  text-align: center;
  border: none;
  background: transparent;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-area > .main-line > .submit-button:disabled {
  color: #acacac;
}

.input-area > .main-line > .submit-button > .question-badge {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  border-radius: 100%;
  font-size: 7.5px;
  font-weight: bold;
  text-align: center;
  background: #3087f8;
  color: white;
  bottom: 0.25rem;
  right: 0.5rem;
}

.input-area .instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.input-area .instruction > .key-instruct {
  font-size: 70%;
  color: gray;
  margin-bottom: 0.5rem;
  text-align: end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.input-area .instruction > .text-counter {
  font-size: 70%;
}

.input-area .instruction > .over {
  color: red;
}

.input-area > .question-checkbox {
  font-size: 85%;
  margin-left: 0.5em;
}

.chatitem-wrapper {
  padding: 0.45em 2.5em 0 0;
  scroll-snap-align: end;
}

.chatitem-wrapper > .comment,
.chatitem-wrapper .reaction {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75em 0.5em;
  border: 1.5px solid #b9b9b9;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: #e4e4e4 0px 2px 5px -1px, #e4e4e4 0px 1px 3px -1px;
  box-shadow: #e4e4e4 0px 2px 5px -1px, #e4e4e4 0px 1px 3px -1px;
  overflow: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.chatitem-wrapper > .comment.reaction,
.chatitem-wrapper .reaction.reaction {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chatitem-wrapper > .comment.question,
.chatitem-wrapper .reaction.question {
  background: #e0f2ff;
  border-color: #59b3f3;
}

.chatitem-wrapper > .comment.answer,
.chatitem-wrapper .reaction.answer {
  background: #fff5f7;
  border-color: #eb9898;
}

.chatitem-wrapper > .comment.admin,
.chatitem-wrapper .reaction.admin {
  background: #ebebeb;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.chatitem-wrapper > .comment > .bg-good-icon,
.chatitem-wrapper .reaction > .bg-good-icon {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.chatitem-wrapper > .comment > .bg-good-icon > .material-icons,
.chatitem-wrapper .reaction > .bg-good-icon > .material-icons {
  font-size: 32px;
  color: #333;
  -webkit-transform: translate(0%, 40%) rotate(-10deg);
  transform: translate(0%, 40%) rotate(-10deg);
}

.chatitem-wrapper > .comment.already-good > .bg-good-icon,
.chatitem-wrapper .reaction.already-good > .bg-good-icon {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}

.chatitem-wrapper > .comment:hover > .bg-good-icon,
.chatitem-wrapper .reaction:hover > .bg-good-icon {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}

.chatitem-wrapper > .comment.comment,
.chatitem-wrapper .reaction.comment {
  cursor: pointer;
}

.chatitem-wrapper > .comment.comment:hover,
.chatitem-wrapper .reaction.comment:hover {
  background: whitesmoke;
}

.chatitem-wrapper > .comment.question:hover,
.chatitem-wrapper .reaction.question:hover {
  background: #ceeaff;
}

.chatitem-wrapper > .comment > .icon-wrapper,
.chatitem-wrapper .reaction > .icon-wrapper {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  align-self: flex-start;
  margin-right: 1em;
  margin-bottom: 0.5rem;
  padding: 3px;
  background: #dfdfdf;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.chatitem-wrapper > .comment > .icon-wrapper > .question-badge,
.chatitem-wrapper .reaction > .icon-wrapper > .question-badge {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 100%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background: #3087f8;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chatitem-wrapper > .comment > .icon-wrapper > .answer-badge,
.chatitem-wrapper .reaction > .icon-wrapper > .answer-badge {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 100%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background: #f83060;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chatitem-wrapper > .comment > .icon-wrapper > .admin-badge,
.chatitem-wrapper .reaction > .icon-wrapper > .admin-badge {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: gray;
  padding-top: 3px;
}

.chatitem-wrapper > .comment.reaction,
.chatitem-wrapper .reaction.reaction {
  margin-left: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chatitem-wrapper > .comment.reaction > .icon-wrapper,
.chatitem-wrapper .reaction.reaction > .icon-wrapper {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  margin-right: 1em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.chatitem-wrapper > .comment.reaction > .icon-wrapper,
.chatitem-wrapper .reaction.reaction > .icon-wrapper {
  margin-right: 1em;
}

.chatitem-wrapper > .comment.reaction > .long-text,
.chatitem-wrapper .reaction.reaction > .long-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  margin-left: 0.5em;
  color: #636363;
  font-style: oblique;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.chatitem-wrapper > .comment.comment > .baloon,
.chatitem-wrapper .reaction.comment > .baloon {
  border-radius: 1.5em;
  width: 100%;
  word-break: break-all;
  z-index: 5;
  white-space: pre-line;
}

.chatitem-wrapper > .comment > .comment-timestamp,
.chatitem-wrapper .reaction > .comment-timestamp {
  color: #636363;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.chatitem-wrapper > .reply-icon {
  position: absolute;
  top: 1rem;
  right: 0rem;
  border-radius: 100%;
}

.chatitem-wrapper > .reply-icon > .material-icons {
  font-size: 32px;
  color: #e4e4e4;
}

.chatitem-wrapper > .reply-icon > .material-icons:hover {
  color: #636363;
}

.chatitem-wrapper > .reply-icon > .material-icons:active {
  color: #636363;
}

.chatitem-wrapper > .reply-icon > .answer-reply:hover {
  color: #f83060;
}

.chatitem-wrapper > .reply-icon > .answer-reply:active {
  color: #f83060;
}

.chatitem-wrapper > .reply-icon:hover {
  background: rgba(214, 214, 214, 0.3);
}

.chatitem-wrapper > .reply-icon:active {
  background: rgba(187, 187, 187, 0.3);
}

.reply-bar {
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.reply-bar > .reply-content {
  display: inline;
  color: #636363;
  font-size: 80%;
}

.reply-bar > .material-icons {
  display: inline;
  font-size: 20px;
  color: #636363;
}

.reply-bar > .material-icons:hover {
  color: #333;
}

.reply-bar > .material-icons:active {
  color: #333;
}

/*管理画面*/
.drawer-menu-wrapper {
  position: absolute;
  z-index: 40;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  word-break: break-all;
}

.drawer-menu-wrapper .drawer-menu {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.drawer-menu-wrapper .drawer-menu .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drawer-menu-wrapper .drawer-menu .header .room-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.drawer-menu-wrapper .drawer-menu .header .room-info .room-title {
  font-size: 150%;
}

.drawer-menu-wrapper .drawer-menu .header .room-info .room-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drawer-menu-wrapper .drawer-menu .header .room-info .room-url .copy-button {
  border: none;
  background: none;
  color: #6e6e6e;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.drawer-menu-wrapper
  .drawer-menu
  .header
  .room-info
  .room-url
  .copy-button:hover {
  background: rgba(214, 214, 214, 0.3);
}

.drawer-menu-wrapper
  .drawer-menu
  .header
  .room-info
  .room-url
  .copy-button:active {
  background: rgba(187, 187, 187, 0.3);
}

.drawer-menu-wrapper .drawer-menu .header .icon-space {
  min-width: 100px;
  min-height: 100px;
  word-break: break-all;
}

.drawer-menu-wrapper .drawer-menu .header .icon-space .icon-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 1em;
  margin-bottom: 0.5rem;
  padding: 3px;
  background: #dfdfdf;
}

.drawer-menu-wrapper .drawer-menu .next-topic-button {
  border: none;
  background-color: #f6666e;
  color: white;
  margin-top: 15px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  font-size: 150%;
  font-weight: bold;
}

.drawer-menu-wrapper .drawer-menu .next-topic-button .material-icons {
  font-size: 36px;
}

.drawer-menu-wrapper .drawer-menu .topic-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  overflow-y: scroll;
  font-size: 120%;
  margin-top: 30px;
}

.drawer-menu-wrapper .drawer-menu .topic-list .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid silver;
  padding: 6px 0;
}

.drawer-menu-wrapper .drawer-menu .topic-list .topic:first-child {
  border-top: 2px solid silver;
}

.drawer-menu-wrapper .drawer-menu .topic-list .active {
  background-color: #fff8b4;
}

.drawer-menu-wrapper .drawer-menu .topic-list .active .label {
  background-color: #f6666e;
  color: white;
}

.drawer-menu-wrapper .drawer-menu .topic-list .paused .label {
  color: #f6666e;
  background-color: white;
  border: solid #f6666e 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.drawer-menu-wrapper .drawer-menu .topic-list .finished {
  background-color: #e4e4e4;
}

.drawer-menu-wrapper .drawer-menu .topic-list .not-started {
  color: silver;
}

.drawer-menu-wrapper .drawer-menu .topic-list .not-started .buttons > button {
  color: silver;
}

.drawer-menu-wrapper .drawer-menu .topic-list .topic-number {
  padding-left: 10px;
  min-width: 3em;
  width: 5%;
  font-weight: bold;
}

.drawer-menu-wrapper .drawer-menu .topic-list .topic-name {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

.drawer-menu-wrapper .drawer-menu .topic-list .topic-name .label {
  font-size: 70%;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 24px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.drawer-menu-wrapper .drawer-menu .topic-list .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drawer-menu-wrapper .drawer-menu .topic-list .buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  border-radius: 100%;
  border: none;
  background-color: rgba(255, 0, 0, 0);
  color: gray;
}

.drawer-menu-wrapper .drawer-menu .topic-list .buttons button .material-icons {
  font-size: 250%;
}

@media screen and (min-width: 880px) {
  .drawer-menu-wrapper {
    width: calc(100% - 440px - 2em);
  }
  .room-info {
    padding: 0px 3%;
  }
}

/* モーダル */
.modal-body {
  padding: 5px 25px;
  text-align: center;
}

.modal-body.modal-scrollable {
  position: relative;
  padding: 1em 1rem;
  height: 100%;
  padding-bottom: calc(48px + 1rem);
  overflow-y: scroll;
  overscroll-behavior: none;
}

.modal-body .modal-index {
  display: inline;
}

.modal-body .secondary-textarea {
  padding: 5px;
  margin: 5px;
}

.modal-body .topic-remove {
  border: 2px solid #ee3a3a;
}

.modal-body .topic-add {
  border: 2px solid #65f76c;
  margin: 10px;
}

.modal-body .topic-start {
  border: 2px solid;
  margin: 10px;
}

.modal-header {
  border-bottom: 1px solid #ddd;
  padding: 5px 25px;
  overflow: hidden;
  height: 48px;
}

.modal-actions {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.primary-button {
  background: white;
  padding: 12px 20px;
  border: 2px solid #444;
  color: #333;
  border-radius: 4px;
  -webkit-box-shadow: rgba(162, 162, 172, 0.2) 0px 2px 4px 0px;
  box-shadow: rgba(162, 162, 172, 0.2) 0px 2px 4px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.primary-button:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
  color: #aaa;
}

.primary-button:hover {
  background: #fafafa;
}

.modal-body input {
  width: 70%;
}

.secondary-button {
  background: white;
  padding: 0px 12px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(162, 162, 172, 0.2) 0px 2px 4px 0px;
  box-shadow: rgba(162, 162, 172, 0.2) 0px 2px 4px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* アイコン選択モーダル */
.icon-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [6];
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon-list > .icon-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  border: solid 5px transparent;
  padding: 4px;
  margin: 2px;
  background: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-list > .icon-box:hover {
  background: whitesmoke;
}

.icon-list > .icon-shari {
  opacity: 0.1;
}

.icon-list > .icon-selected {
  border-color: #ae1f23;
  opacity: 1;
}

.heart-button-wraper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heart-button {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-size: 30px;
}

.heart-button-animation {
  -webkit-animation: heart 1.5s 0.2s 1 ease-out;
  animation: heart 1.5s 0.2s 1 ease-out;
}

/* ========= アニメーションの設定 ======== */
@-webkit-keyframes heart {
  0% {
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 0;
    left: 50%;
    top: 0;
  }
  20% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-300px) scale(1.6);
    transform: translateY(-300px) scale(1.6);
    opacity: 0;
  }
}
@keyframes heart {
  0% {
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 0;
    left: 50%;
    top: 0;
  }
  20% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-300px) scale(1.6);
    transform: translateY(-300px) scale(1.6);
    opacity: 0;
  }
}
/*# sourceMappingURL=app.css.map */
