body {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 0.9rem;
  color: $black;
  touch-action: manipulation; // ダブルタップによるズームは抑止
  background: white;
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  user-select: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: auto;
  }

  &:disabled {
    cursor: default;
  }
}

label {
  position: relative;
  padding-left: 0;
  cursor: pointer;

  & > input[type="checkbox"] {
    width: 12px;
    height: 12px;
    margin: 0.2rem;
    cursor: pointer;
    outline: none;

    &:focus-visible::before {
      outline: auto;
      outline-color: blue;
      outline-offset: 2px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      content: "";
      background: #fff;
      border: 1px solid #231815;
      border-radius: 1px;
      opacity: 1;
      transform: translateY(-50%);
    }

    &:checked::before {
      background: rgb(59 183 255);
      border-color: transparent;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      clip-path: polygon(10% 50%, 20% 40%, 45% 60%, 80% 20%, 90% 30%, 45% 83%);
      content: "";
      background: white;
      opacity: 0;
      transform: translateY(-50%);
    }

    &:checked::after {
      opacity: 1;
    }
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

span.key-span {
  padding: 0 0.4em;
  margin: 0 0.2em;
  font-weight: bold;
  color: rgb(243 243 243);
  background: rgb(110 110 110);
  border-radius: 1px;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;

  header {
    width: 100vw;

    button {
      float: right;
      color: rgb(110 110 110);
      background-color: white;
      border: none;
    }
  }

  main {
    display: flex;
    flex: 1;
    overflow-x: scroll;
  }
}

@mixin scrollbar-hidden {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
