.topic-block {
  white-space: normal;
  height: 100%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

@media screen and (min-width: 551px) {
  .topic-block {
    margin: 0 2em;
    width: 440px;
  }
}

.active-topic {
  background: rgb(240, 240, 172);
}

.finished-topic {
  background: $gray;
  color: rgb(158, 158, 158);
}

.topic-header {
  flex-shrink: 0;
  padding: 0.75em 0;
  position: relative;

  & > .top-line {
    & > .prefix {
      background: white;
      color: $black;
      font-size: 120%;
      padding: 0.25em 0.5em;
    }
  }

  & > .main-line {
    display: flex;
    align-items: center;
    padding: 0 1em;

    & > h1.title {
      display: inline-block;
      padding: 0 0.5em;
      flex: 1;
    }

    & > .download-button {
      width: 3em;
      height: 3em;
      border-radius: 100%;
      border: none;
      color: $black;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &:hover {
        background: $hover-button-background;
      }

      &:active {
        background: $active-button-background;
      }

      &:disabled {
        color: rgba(204, 204, 204, 0.5);
        background: transparent;
        cursor: default;
      }
    }
  }
}

.chat-area {
  flex: 1 1 0;
  display: flex;
  border-top: 2px solid $gray;
  position: relative;
  overflow-y: hidden;

  & > .text-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: hidden;

    & > .scrollable {
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      padding: 1em 1rem;
    }

    .list-complete {
      display: flex;
      flex-direction: column;
    }
    .list-complete-item {
      transition: all 0.3s;
      transform: translateX(0);
    }
    .list-complete-enter,
    .list-complete-leave-to {
      opacity: 0;
    }
    .list-complete-leave-active {
      position: absolute;
    }

    & > .graph-wrapper {
      margin: 2px 16px 4px 16px;
      border-top: 2px solid $gray;
      text-align: end;

      & > .close-button {
        border: none;
        background: transparent;
      }

      & > .graph-action-area {
        text-align: end;
        padding-top: 4px;
        margin-bottom: -8px;
        display: flex;
        justify-content: flex-end;

        & > .close-button {
          border: none;
          background: transparent;
          border-radius: 100%;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          &:hover {
            background: rgba(0, 0, 0, 0.021);
          }
        }
      }
    }

    & > .show-graph-button {
      text-align: center;
      border: none;
      background: $gray;
      border-radius: 999px;
      margin: 4px 54px 4px 16px;
      padding: 8px 0;
      font-size: 0.8rem;
      transition: all 0.3s;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & > .toggle-icon {
        margin-left: 8px;
      }

      &:hover {
        background: rgb(206, 205, 205);
      }
    }
  }

  & > .stamp-zone {
    flex-shrink: 1;
    width: 4rem;
    background: white;
    margin-top: auto;
    margin-bottom: 1em;
    position: relative;

    & .stamp-submit-button {
      border: none;
      width: 3.2rem;
      height: 3.2rem;
      border: 4px solid rgb(207, 13, 13);
      background: rgb(207, 13, 13);
      color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      outline-color: rgb(207, 13, 13);

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background: white;
        color: rgb(207, 13, 13);
      }

      &:disabled {
        background: rgb(192, 192, 192);
        border-color: rgb(192, 192, 192);
        cursor: default;
      }
    }
  }

  & > .message-badge {
    position: absolute;
    width: 100%;
    max-width: 200px;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0.5em 2em;
    border-radius: 999px;
    border: 2px solid rgb(56, 137, 230);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(212, 212, 212);
    display: grid;
    align-items: center;
    z-index: 30;
    transition: all 0.2s;

    &:hover {
      background: rgb(250, 250, 250);
      transform: translateX(-50%) scale(1.05);
    }
  }
}

.input-area {
  //position: sticky;
  height: 150px;
  bottom: 0;
  padding: 0.5em 1em;
  background: white;
  border-top: 2px solid $gray;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 4px 0px;

  & > .main-line {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0.5rem;

    & > .textarea {
      padding: 0.5em;
      border: none;
      background: transparent;
      border-radius: 5px;
      margin-right: 1em;
      line-height: 1.5;
      width: 100%;
      min-height: 5em;
      white-space: pre-line;

      &:empty::before {
        content: attr(placeholder);
        pointer-events: none;
        display: block;
        color: rgb(167, 167, 167);
      }

      &:focus {
        outline: none;
      }
    }

    & > .submit-button {
      position: relative;
      flex-shrink: 0;
      width: 2.4em;
      height: 2.4em;
      vertical-align: middle;
      text-align: center;
      border: none;
      background: transparent;
      border-radius: 10px;
      display: grid;
      align-items: center;

      &:disabled {
        color: rgb(172, 172, 172);
      }

      & > .question-badge {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        line-height: 0.75rem;
        border-radius: 100%;
        font-size: 7.5px;
        font-weight: bold;
        text-align: center;
        background: rgb(48, 135, 248);
        color: white;
        bottom: 0.25rem;
        right: 0.5rem;
      }
    }
  }
  .instruction {
    display: flex;
    justify-content: flex-end;

    & > .key-instruct {
      font-size: 70%;
      color: gray;
      margin-bottom: 0.5rem;
      text-align: end;
      flex: 1;
      user-select: none;
    }

    & > .text-counter {
      font-size: 70%;
      user-select: none;
      display: none;
    }

    & > .over {
      color: red;
      display: inline;
    }
  }

  & > .question-checkbox {
    font-size: 85%;
    margin-left: 0.5em;
    user-select: none;
  }
}

.chatitem-wrapper {
  padding: 0.2em 2.5em 0.25em 0;
  scroll-snap-align: end;

  & > .comment,
  .reaction {
    position: relative;
    flex-shrink: 0;
    display: flex;
    padding: 0.75em 0.5em;
    border: 1.5px solid rgb(185, 185, 185);
    background: white;
    border-radius: 5px;
    box-shadow: $gray 0px 2px 5px -1px, $gray 0px 1px 3px -1px;
    overflow: visible;

    .text {
      flex: 1;
      word-break: break-all;
      overflow-wrap: anywhere;
    }

    &.reaction {
      box-shadow: none;
      margin-left: 2em;
      align-items: center;

      & > .icon-wrapper {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
        margin-right: 1em;
        align-self: center; // NOTE: for safari (yuta-ike)
      }

      & > .long-text {
        flex: 1;
        display: -webkit-box;
        margin-left: 0.5em;
        color: $text-gray;
        font-style: oblique;
        word-break: break-all;
        overflow-wrap: anywhere;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }

    &.question {
      background: rgb(224, 242, 255);
      border-color: rgb(89, 179, 243);
    }

    &.answer {
      background: rgb(255, 245, 247);
      border-color: rgb(235, 152, 152);
    }

    &.admin {
      background: rgb(235, 235, 235);
      border: none;
      box-shadow: none;
    }

    & > .bg-good-icon {
      position: absolute;
      bottom: 0;
      right: 0.5rem;
      transform: translateY(50%);
      opacity: 0;
      transition: all 0.3s;
      overflow: hidden;

      & > .material-icons {
        font-size: 32px;
        color: $black;
        transform: translate(0%, 40%) rotate(-10deg);
      }
    }

    &.already-good > .bg-good-icon {
      transform: translate(0);
      opacity: 1;
    }

    &:hover > .bg-good-icon {
      transform: translate(0);
      opacity: 1;
    }

    // アニメーション
    transition: all 0.3s;

    &.comment {
      cursor: pointer;

      &.admin {
        cursor: default;
      }

      &:hover {
        background: rgb(245, 245, 245);
      }
    }

    &.question:hover {
      background: rgb(206, 234, 255);
    }

    &.answer:hover {
      background: rgb(255, 233, 237);
    }

    &.admin:hover {
      background: rgb(235, 235, 235);
    }

    & > .icon-wrapper {
      flex-shrink: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      align-self: flex-start;
      margin-right: 1em;
      margin-bottom: 0.5rem;
      padding: 3px;
      background: rgb(223, 223, 223);
      display: grid;
      align-items: center;
      position: relative;
      user-select: none;

      & > .question-badge {
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        border-radius: 100%;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        background: rgb(48, 135, 248);
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      & > .answer-badge {
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        border-radius: 100%;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        background: $pink;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      & > .admin-badge {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: gray;
        padding-top: 3px;
      }
    }

    & > .comment-timestamp {
      color: $text-gray;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      user-select: none;
    }
  }

  & > .reply-icon {
    position: absolute;
    top: 1rem;
    right: 0rem;
    border-radius: 100%;
    border: none;
    background: transparent;

    & > .material-icons {
      font-size: 28px;
      color: $gray;
      &:hover {
        color: $text-gray;
      }
      &:active {
        color: $text-gray;
      }
    }
    & > .answer-reply {
      &:hover {
        color: $pink;
      }
      &:active {
        color: $pink;
      }
    }
  }
}

.reply-bar {
  background-color: $gray;
  display: flex;
  justify-content: flex-end;
  & > .reply-content {
    display: inline;
    color: $text-gray;
    font-size: 80%;
  }
  & > .material-icons {
    display: inline;
    font-size: 20px;
    color: $text-gray;
    &:hover {
      color: $black;
    }
    &:active {
      color: $black;
    }
  }
}
