@mixin rounded-button($color: $primary) {
  padding: 4px 20px;
  line-height: 1;
  color: $color;
  white-space: nowrap;
  background-color: white;
  border: 2px solid;
  border-radius: 99px;

  &:hover {
    @if $color == $primary {
      background-color: rgba(242, 141, 47, 0.2);
    }
  }

  &.selected {
    color: white;
    background-color: $color;
    border-color: $color;
  }
}

@mixin material-icons-in-text {
  .material-icons {
    display: inline-flex !important;
    vertical-align: middle;
  }
}

.chat-room-area {
  display: flex;
  overflow-x: scroll;
  @media screen and (max-width: $medium) {
    &__cover {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: $z-modal - 1;
      display: block;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.topic-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding-bottom: 0.75rem;
  white-space: normal;
  border-radius: 5px;
}

@media screen and (min-width: 440px) {
  .topic-block {
    width: 440px;
    margin: 0 2em;
  }
}

.topic-header {
  position: relative;
  flex-shrink: 0;

  & > .main-line {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 3em;
    padding: 0 1rem;
    color: white;
    background-color: $primary;

    & > .menu-button-wrapper {
      background: transparent;
      z-index: 40;

      & > .menu-button {
        width: 2.5em;
        height: 2.5em;
        border: none;
        background: transparent;
        border-radius: 99px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        &:hover,
        &:focus {
          background: $hover-button-background;
        }
      }
    }

    & > .index {
      margin-left: 0.5em;
      font-weight: bold;
    }

    & > .title {
      display: inline-block;
      flex: 1;
      padding: 0 0.5em;
      font-weight: bold;
    }

    & > .link-button,
    .more-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      color: white;
      background: transparent;
      border: none;
      border-radius: 100%;
      transition: all 0.1s;

      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }

      &:active {
        background: rgba(0, 0, 0, 0.08);
      }

      &:disabled {
        color: rgba(204, 204, 204, 0.5);
        background: transparent;
      }
    }
  }

  &__details {
    position: relative;
    z-index: 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(239, 239, 239);

    &--filter-btn {
      @include rounded-button;

      margin-bottom: 10px;
    }

    &--description {
      color: $text-gray;

      @include text-size($size: "sm");
    }

    &--line {
      width: 100%;
      height: 2px;
      margin: 10px 0;
      background-color: $placeholder-gray;
    }

    &--download {
      display: flex;
      align-items: center;
      color: $admin-primary;
      cursor: pointer;

      @include text-size($size: "sm");

      & > .text {
        margin-left: 0.3rem;
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__bookmark {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    background-color: white;
    border-bottom: 1px solid rgb(239, 239, 239);

    & > .icon {
      transform: rotate(20deg);
    }

    &--button {
      flex: 1;
    }

    &--content {
      /* stylelint-disable */
      display: -webkit-box;
      width: 100%;
      max-height: 2.5rem;
      overflow: hidden;
      font-size: 100%;
      text-align: left;
      word-break: break-all;
      overflow-wrap: anywhere;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &--close-icon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: flex-start;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      color: $text-gray;
      border-radius: 100%;
      transition: all 0.1s;

      &:hover {
        background: rgba($black, 0.08);
      }
    }

    & > .chatitem__bookmark {
      margin-right: 10px;
    }
  }
}

.chatitem__bookmark {
  align-self: flex-start;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
  margin-right: 0.6rem;
  background: transparent;
  border: none;

  & > .icon {
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: $text-gray;
    border-radius: 100%;
    transform: rotate(20deg);

    &:hover,
    &:focus {
      color: $text-gray;
      background-color: $placeholder-gray;
    }

    &.selected {
      color: #ff542f;
      background-color: white;
    }
  }
}

.zap {
  position: fixed;
  margin-top: -75px;
}

.chat-area {
  position: relative;
  display: flex;
  flex: 1 1 0;
  overflow-y: hidden;

  & > .text-zone {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: hidden;

    & > .scrollable {
      padding: 1em 1rem;
      overflow-y: scroll;

      @include scrollbar-hidden;
    }

    .list-complete {
      display: flex;
      flex-direction: column;
    }

    .list-complete-item {
      transition: all 0.3s;
      transform: translateX(0);
    }

    .list-complete-enter,
    .list-complete-leave-to {
      opacity: 0;
    }

    .list-complete-leave-active {
      position: absolute;
    }

    & > .graph-wrapper {
      margin: 2px 16px 4px;
      text-align: end;
      border-top: 2px solid $gray;

      & > .close-button {
        background: transparent;
        border: none;
      }

      & > .graph-action-area {
        display: flex;
        justify-content: flex-end;
        padding-top: 4px;
        margin-bottom: -8px;
        text-align: end;

        & > .close-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          padding: 0;
          background: transparent;
          border: none;
          border-radius: 100%;

          &:hover {
            background: rgba(0, 0, 0, 0.021);
          }
        }
      }
    }

    & > .show-graph-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
      margin: 4px 54px 4px 16px;
      font-size: 0.8rem;
      text-align: center;
      background: $gray;
      border: none;
      border-radius: 999px;
      transition: all 0.3s;

      & > .toggle-icon {
        margin-left: 8px;
      }

      &:hover {
        background: rgb(206, 205, 205);
      }
    }
  }

  & > .stamp-zone {
    position: relative;
    flex-shrink: 1;
    width: 4rem;
    margin-top: auto;
    margin-bottom: 1em;
    background: white;

    & .stamp-submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      color: white;
      background: rgb(207, 13, 13);
      border: none;
      border: 4px solid rgb(207, 13, 13);
      border-radius: 100%;
      outline-color: rgb(207, 13, 13);
      transition: all 0.2s;

      & > .icon {
        display: flex;
      }

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        color: rgb(207, 13, 13);
        background: white;
      }

      &:disabled {
        background: rgb(192, 192, 192);
        border-color: rgb(192, 192, 192);
      }
    }
  }

  & > .message-badge {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 150%);
    background: rgba($black, 0.5);
    padding: 0.5em;
    z-index: $z-modal - 1;
    width: 32px;
    height: 32px;
    padding: 0.5em;
    color: white;
    background: rgba($black, 0.5);
    border-radius: 100%;
    stroke-width: 4px;
    transition: all 0.1s;
    transform: translate(-50%, 150%);

    &.isNotify {
      transform: translate(-50%, 0%);
    }
  }
}

.input-area {
  position: relative;
  bottom: 0;
  background: white;
  border-top: 2px solid $gray;

  .textarea-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 1em;
    margin-right: -4px;
    font-weight: bold;
    color: #808080;
    border-bottom: 2px solid $gray;
  }

  & > .sender-badge-wrapper {
    width: 100%;
    margin-top: 0.3em;

    & > .sender-badge {
      min-height: 20px;
      padding: 0.15em 0.5em;
      margin: 0.5em 1em;
      font-size: 75%;
      color: white;
      border-radius: 5px;
    }
  }

  & > &__fixed-phrases {
    display: flex;
    padding: 0.5em 1em;
  }

  .speaker {
    background-color: $primary;
  }

  .admin {
    background-color: $text-gray;
  }

  .none {
    background-color: white;
  }

  .normaltext {
    min-height: 80px !important;
  }

  & > .textarea {
    width: 100%;
    min-height: 60px;
    padding: 0.5em 1em;
    margin-right: 1em;
    line-height: 1.5;
    white-space: pre-line;
    resize: none;
    background: transparent;
    border: none;

    &:empty::before {
      display: block;
      color: rgb(167, 167, 167);
      pointer-events: none;
      content: attr(placeholder);
    }

    &:focus {
      outline: none;
    }
  }

  & > .textarea-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1em 0.5em;

    & > .submit-button {
      position: relative;
      display: grid;
      flex-shrink: 0;
      align-items: end;
      width: 24px;
      height: 24px;
      padding: 0;
      color: $primary;
      text-align: center;
      vertical-align: middle;
      background: transparent;
      border: none;

      &:disabled {
        color: rgb(172, 172, 172);
        cursor: default;

        & > .question-badge {
          background: $disabled-gray;
        }
      }

      & > .question-badge {
        position: absolute;
        right: -0.3rem;
        bottom: 0;
        width: 0.75rem;
        height: 0.75rem;
        font-size: 0.4rem;
        font-weight: bold;
        line-height: 0.75rem;
        color: white;
        text-align: center;
        background: rgb(48, 135, 248);
        border-radius: 100%;
      }
    }

    .admin {
      color: $black;
    }

    & > .instruction {
      display: inline-block;
      flex: 1;

      & > .key-instruct {
        font-size: 70%;
        color: gray;
        user-select: none;
      }
    }

    & > .question-checkbox {
      margin-right: 3em;
      font-size: 85%;
      user-select: none;
    }
  }

  & > .error-message {
    display: block;
    padding: 0 1em;
    margin-bottom: -13px;
    text-align: right;

    & > .text-counter {
      position: relative;
      right: 0;
      display: none;
      font-size: 70%;
      user-select: none;
    }

    & > .over {
      display: inline;
      color: red;
    }
  }

  & > .reply-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.3em 14px;
    margin-right: -4px;
    font-size: 80%;
    background-color: $placeholder-gray;

    & > .reply-type {
      color: white;
    }

    & .reply {
      padding: 0.15em 0.5em;
      background-color: $syoyu;
      border-radius: 5px;
    }

    & .answer {
      padding: 0.15em 0.5em;
      background-color: $answer-label;
      border-radius: 5px;
    }

    & > .reply-content {
      display: box;
      flex: 1;
      margin: 0 0.5rem;
      overflow: hidden;
      color: $text-gray;
      word-break: break-all;
      overflow-wrap: anywhere;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    & > .reply-close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      padding: 0;
      border-radius: 100%;

      &:hover {
        background: rgba($black, 0.08);
      }
    }
  }
}

.fixed-phrase {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 99px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: $placeholder-gray;
  }
}

.chatitem-wrapper {
  display: flex;
  padding: 0.5em 0;
  scroll-snap-align: end;

  .sender-badge {
    display: inline-block;
    padding: 0.2em 0.8rem;
    margin-top: -1.5em;
    margin-left: -1.6em;
    font-size: 8px;
    color: white;
    vertical-align: top;
    background-color: $primary;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 5px;
  }

  .sender-non-badge {
    display: inline-block;
    color: white;
    background-color: white;
  }

  .admin {
    & > .sender-badge {
      background-color: $text-gray;
    }
  }

  & > .system_message {
    position: relative;
    width: 100%;
    padding: 0.6em 1em;
    font-size: 12px;
    color: $text-gray;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
  }

  .badgecomment {
    padding: 0.75em 0.8em 0.35em !important;
  }

  .url-to-link__link {
    color: rgb(47, 82, 199);
  }

  & > .comment,
  .reaction {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 0 0.8em 0.35em;
    overflow: visible;
    background: white;
    border: 1px solid $placeholder-gray;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    transition: border 3s ease-out, box-shadow 3s ease-out;

    // スクロール時のハイライトで利用するCSS / highlightクラスはjsで動的に追加される
    &.highlight {
      border: 1px solid $primary;
      box-shadow: 0 1px 10px rgba($primary, 0.9);
      transition: none;
    }

    .main-contents {
      display: flex;
      min-height: 1rem;
      margin-top: -0.5em;

      & > .text {
        flex: 1;
        margin-left: 0.5em;
        word-break: break-all;
        overflow-wrap: anywhere;

        & .long-text--button {
          flex: 1;
        }

        & .long-text--content {
          display: box;
          width: 100%;
          max-height: 2rem;
          overflow: hidden;
          font-size: 80%;
          color: $text-gray;
          text-align: left;
          word-break: break-all;
          overflow-wrap: anywhere;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }

    .comment-footer {
      display: flex;
      align-items: flex-end;

      & > .comment-timestamp {
        flex: 1;
        font-size: 10px;
        color: $text-gray;
        user-select: none;
      }

      .badges {
        display: flex;
        align-items: flex-end;

        & > .pin-icon,
        & > .reply-icon,
        & > .bg-good-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.7rem;
          height: 1.7rem;
          margin-left: 0.5rem;
          color: $text-gray;
          background: transparent;
          border: none;
          border-radius: 100%;

          &:hover:not(:disabled) {
            color: $text-gray;
            background-color: $placeholder-gray;
          }

          &:disabled {
            color: $disabled-gray;
          }

          & > .icon {
            display: flex;
            align-items: center;
            justify-items: center;
            width: 1.7rem;
            height: 1.7rem;
          }

          &.pin-icon {
            & > .icon {
              transform: rotate(20deg);

              &.selected {
                color: #ff542f;
              }
            }
          }

          & > .answer-reply {
            &:hover {
              color: $answer-label;
            }

            &:active {
              color: $answer-label;
            }
          }

          .selected {
            transform: rotate(-20deg);
          }

          &.is-liked {
            color: white;
            transform: rotate(-20deg);
          }
        }
      }

      .error-label {
        display: flex;
        align-items: center;

        & > .error-icon {
          color: rgb(249, 69, 69);
        }

        & > .error-message {
          @include text-size($size: "sm");

          display: block;
          margin-left: 0.5em;
          line-height: 1.1;
          color: rgb(249, 69, 69);
        }

        & > .retry-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.7em;
          height: 1.7em;
          padding: 0;
          margin-left: 0.5em;
          border-radius: 4px;
          transition: all 0.2s;

          &:hover:not(:disabled) {
            background: rgba(249, 69, 69, 0.1);
          }

          & > svg {
            color: rgb(249, 69, 69);
          }
        }
      }
    }

    &.reaction {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: calc(100% - 48px);
      min-height: 0;
      padding: 0;
      margin-left: 3rem;
      border: none;
      box-shadow: none;

      & > .icon-wrapper {
        align-self: center; // NOTE: for safari (yuta-ike)
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
        margin-right: 0.5em;

        & > .reaction-badge {
          position: absolute;
          right: -0.9rem;
          bottom: -0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.3rem;
          height: 1.3rem;
          line-height: 1.1rem;
          color: #fff;
          text-align: center;
          border-radius: 100%;

          & > .icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      & > .reaction-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .icon {
          color: $text-gray;
        }

        & > .long-text {
          display: box;
          flex: 1;
          margin-left: 0.6rem;
          overflow: hidden;
          font-size: 13px;
          font-style: oblique;
          color: $text-gray;
          text-align: left;
          word-break: break-all;
          overflow-wrap: anywhere;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }

        &:hover {
          & > .long-text {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .icon-wrapper {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .question {
    background: #f2faff;
    border-color: #6db8ed;
  }

  .answer {
    background: #fff5f7;
    border-color: #eb9898;
  }

  .icon-wrapper {
    position: relative;
    display: grid;
    flex-shrink: 0;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0.1em;
    user-select: none;
    background: rgb(223, 223, 223);
    border-radius: 100%;

    & > .question-badge {
      position: absolute;
      bottom: -0.2rem;
      left: -0.2rem;
      width: 1rem;
      height: 1rem;
      font-size: 10px;
      font-weight: bold;
      line-height: 1rem;
      color: white;
      text-align: center;
      background: rgb(48, 135, 248);
      border-radius: 100%;
    }

    & > .answer-badge {
      position: absolute;
      bottom: -0.2rem;
      left: -0.2rem;
      width: 1rem;
      height: 1rem;
      font-size: 10px;
      font-weight: bold;
      line-height: 1rem;
      color: white;
      text-align: center;
      background: $answer-label;
      border-radius: 100%;
    }

    & > .raction-badge {
      position: absolute;
      right: -0.7rem;
      bottom: -0.1rem;
      width: 1.1rem;
      height: 1.1rem;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.1rem;
      color: white;
      text-align: center;
      background: rgb(48, 135, 248);
      border-radius: 100%;

      & > .material-icons {
        width: 1.1rem;
        height: 1.1rem;
        padding: 0.25rem;
        font-size: 0.6rem;
      }
    }
  }
}
