@mixin rounded-button($color: $primary) {
  color: $color;
  border: 2px solid;
  background-color: white;
  padding: 0px 20px;
  border-radius: 99px;
  white-space: nowrap;
  &:hover {
    @if $color == $primary {
      background-color: rgba(242, 141, 47, 0.2);
    }
  }
  &.selected {
    color: white;
    background-color: $color;
    border-color: $color;
  }
}

@mixin material-icons-in-text {
  .material-icons {
    display: inline-flex !important;
    vertical-align: middle;
  }
}

.topic-block {
  white-space: normal;
  height: 100%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 0.75rem;
}

@media screen and (min-width: 440px) {
  .topic-block {
    margin: 0 2em;
    width: 440px;
  }
}

.topic-header {
  flex-shrink: 0;
  position: relative;

  & > .main-line {
    z-index: 1;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.2em 0.3em 0;
    background-color: $primary;
    color: white;
    min-height: 3em;

    & > .index {
      font-weight: bold;
      margin-left: 0.5em;
    }

    & > .title {
      display: inline-block;
      padding: 0 0.5em;
      flex: 1;
      font-weight: bold;
    }

    & > .link-button,
    .more-button {
      width: 2em;
      height: 2em;
      border-radius: 100%;
      border: none;
      color: white;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &:hover {
        background: $hover-button-background;
      }

      &:active {
        background: $active-button-background;
      }

      &:disabled {
        color: rgba(204, 204, 204, 0.5);
        background: transparent;
        cursor: default;
      }

      & > .material-icons {
        font-size: 1.5em;
      }
    }
  }

  &__details {
    position: relative;
    z-index: 0;
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid rgb(239, 239, 239);
    &--filter-btn {
      @include rounded-button;
      margin-bottom: 10px;
    }
    &--description {
      color: $text-gray;
      @include text-size($size: "sm");
    }
    &--line {
      width: 100%;
      height: 2px;
      margin: 10px 0;
      background-color: $placeholder-gray;
    }
    &--download {
      color: $admin-primary;
      cursor: pointer;
      & > .material-icons {
        font-size: 1rem;
      }
      & > .text {
        text-decoration: underline;
      }
      @include text-size($size: "sm");
      @include material-icons-in-text;
    }
  }

  &__bookmark {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(239, 239, 239);
    &--text {
      flex: 1;
    }
    &--close-icon {
      flex-shrink: 0;
      align-self: flex-start;
      margin-left: 10px;
      color: $text-gray;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s;

      &:hover {
        background: rgba($black, 0.08);
      }
    }
    & > .chatitem__bookmark {
      margin-right: 10px;
    }
  }
}

.chatitem__bookmark {
  align-self: flex-start;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
  // margin: 0 0 0.35em 0.4rem;
  margin-right: 0.6rem;
  background: transparent;
  border: none;
  //background-color: red;
  & > .material-icons {
    font-size: 1.1rem;
    padding: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    color: $text-gray;
    border-radius: 100%;
    transform: rotate(20deg);
    &:hover,
    &:focus {
      color: $text-gray;
      background-color: $placeholder-gray;
    }
    &.selected {
      color: #ff542f;
      background-color: white;
    }
  }
}

.zap {
  position: fixed;
  margin-top: -75px;
}
.chat-area {
  flex: 1 1 0;
  display: flex;
  position: relative;
  overflow-y: hidden;

  & > .text-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: hidden;

    & > .scrollable {
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      padding: 1em 1rem;
      @include scrollbar-hidden;
    }

    .list-complete {
      display: flex;
      flex-direction: column;
    }
    .list-complete-item {
      transition: all 0.3s;
      transform: translateX(0);
    }
    .list-complete-enter,
    .list-complete-leave-to {
      opacity: 0;
    }
    .list-complete-leave-active {
      position: absolute;
    }

    & > .graph-wrapper {
      margin: 2px 16px 4px 16px;
      border-top: 2px solid $gray;
      text-align: end;

      & > .close-button {
        border: none;
        background: transparent;
      }

      & > .graph-action-area {
        text-align: end;
        padding-top: 4px;
        margin-bottom: -8px;
        display: flex;
        justify-content: flex-end;

        & > .close-button {
          border: none;
          background: transparent;
          border-radius: 100%;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          &:hover {
            background: rgba(0, 0, 0, 0.021);
          }
        }
      }
    }

    & > .show-graph-button {
      text-align: center;
      border: none;
      background: $gray;
      border-radius: 999px;
      margin: 4px 54px 4px 16px;
      padding: 8px 0;
      font-size: 0.8rem;
      transition: all 0.3s;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      & > .toggle-icon {
        margin-left: 8px;
      }

      &:hover {
        background: rgb(206, 205, 205);
      }
    }
  }

  & > .stamp-zone {
    flex-shrink: 1;
    width: 4rem;
    background: white;
    margin-top: auto;
    margin-bottom: 1em;
    position: relative;

    & .stamp-submit-button {
      border: none;
      width: 3.2rem;
      height: 3.2rem;
      border: 4px solid rgb(207, 13, 13);
      background: rgb(207, 13, 13);
      color: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      outline-color: rgb(207, 13, 13);

      & > .icon {
        display: flex;
      }

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background: white;
        color: rgb(207, 13, 13);
      }

      &:disabled {
        background: rgb(192, 192, 192);
        border-color: rgb(192, 192, 192);
        cursor: default;
      }
    }
  }

  & > .message-badge {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 150%);
    background: rgba($black, 0.5);
    padding: 0.5em;
    z-index: 30;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    transition: all 0.1s;
    color: white;
    stroke-width: 4px;

    &.isNotify {
      transform: translate(-50%, 0%);
    }
  }
}

.input-area {
  bottom: 0;
  background: white;
  border-top: 2px solid $gray;
  position: relative;

  .textarea-header {
    width: 100%;
    display: flex;
    margin-right: -4px;
    padding: 0.5em 1em;
    border-bottom: 2px solid $gray;
    align-items: center;
    color: #808080;
    font-weight: bold;
  }

  & > .sender-badge-wrapper {
    width: 100%;
    margin-top: 0.3em;
    & > .sender-badge {
      min-height: 20px;
      font-size: 75%;
      color: white;
      padding: 0.15em 0.5em;
      border-radius: 5px;
      margin: 0.5em 1em;
    }
  }

  & > &__fixed-phrases {
    display: flex;
    padding: 0.5em 1em;
  }
  .speaker {
    background-color: $primary;
  }
  .admin {
    background-color: $text-gray;
  }
  .none {
    background-color: white;
  }
  .normaltext {
    min-height: 80px !important;
  }
  & > .textarea {
    padding: 0.5em 1em;
    border: none;
    background: transparent;
    margin-right: 1em;
    line-height: 1.5;
    width: 100%;
    min-height: 60px;
    white-space: pre-line;
    resize: none;

    &:empty::before {
      content: attr(placeholder);
      pointer-events: none;
      display: block;
      color: rgb(167, 167, 167);
    }

    &:focus {
      outline: none;
    }
  }
  & > .textarea-footer {
    display: flex;
    align-items: center;
    padding: 0em 1em 0.5em;
    justify-content: flex-end;
    & > .submit-button {
      position: relative;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      text-align: center;
      border: none;
      background: transparent;
      display: grid;
      align-items: end;
      padding: 0;
      color: $primary;
      &:disabled {
        color: rgb(172, 172, 172);
        cursor: default;
      }

      & > .question-badge {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        line-height: 0.75rem;
        border-radius: 100%;
        font-size: 0.4rem;
        font-weight: bold;
        text-align: center;
        background: rgb(48, 135, 248);
        color: white;
        bottom: 0;
        right: -0.3rem;
      }
      &:disabled {
        & > .question-badge {
          background: $disabled-gray;
        }
      }
    }
    .admin {
      color: $black;
    }

    & > .instruction {
      display: inline-block;
      flex: 1;
      & > .key-instruct {
        font-size: 70%;
        color: gray;
        user-select: none;
      }
    }

    & > .question-checkbox {
      font-size: 85%;
      margin-right: 3em;
      user-select: none;
    }
  }
  & > .error-message {
    display: block;
    text-align: right;
    padding: 0 1em;
    margin-bottom: -13px;
    & > .text-counter {
      font-size: 70%;
      user-select: none;
      display: none;
      position: relative;
      right: 0;
    }
    & > .over {
      color: red;
      display: inline;
    }
  }

  & > .reply-bar {
    background-color: $placeholder-gray;
    width: 100%;
    display: flex;
    margin-right: -4px;
    padding: 0.3em 14px;
    align-items: center;
    font-size: 80%;

    & > .reply-type {
      color: white;
    }
    & .reply {
      background-color: $syoyu;
      border-radius: 5px;
      padding: 0.15em 0.5em;
    }

    & .answer {
      background-color: $answer-label;
      border-radius: 5px;
      padding: 0.15em 0.5em;
    }

    & > .reply-content {
      display: -webkit-box;
      word-break: break-all;
      overflow-wrap: anywhere;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      color: $text-gray;
      flex: 1;
      margin: 0 0.5rem;
    }

    & > .reply-close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      padding: 0;
      &:hover {
        background: rgba($black, 0.08);
      }
    }
  }
}

.fixed-phrase {
  background-color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 99px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  &:hover {
    background-color: $placeholder-gray;
  }
}

.chatitem-wrapper {
  padding: 0.5em 0;
  scroll-snap-align: end;
  display: flex;
  .sender-badge {
    display: inline-block;
    vertical-align: top;
    font-size: 8px;
    background-color: $primary;
    color: white;
    padding: 0.2em 0.8rem;
    margin-top: -1.5em;
    margin-left: -1.6em;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 5px;
  }
  .sender-non-badge {
    display: inline-block;
    background-color: white;
    color: white;
  }

  .admin {
    & > .sender-badge {
      background-color: $text-gray;
    }
  }

  & > .system_message {
    position: relative;
    background-color: $placeholder-gray;
    padding: 0.6em 1em;
    border-radius: 5px;
    color: $text-gray;
  }

  .badgecomment {
    padding: 0.75em 0.8em 0.35em !important;
  }

  .url-to-link__link {
    color: rgb(47, 82, 199);
  }
  & > .comment,
  .reaction {
    position: relative;
    width: 100%;
    min-height: 5rem;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0em 0.8em 0.35em;
    border: 1px solid $placeholder-gray;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    overflow: visible;
    transition: border 3s ease-out, box-shadow 3s ease-out;

    // スクロール時のハイライトで利用するCSS / highlightクラスはjsで動的に追加される
    &.highlight {
      transition: none;
      border: 1px solid $primary;
      box-shadow: 0px 1px 10px rgba($primary, 0.9);
    }

    .main-contents {
      display: flex;
      margin-top: -0.5em;
      min-height: 1rem;
      & > .text {
        flex: 1;
        word-break: break-all;
        overflow-wrap: anywhere;
        margin-left: 0.5em;
        & > .long-text {
          flex: 1;
          display: -webkit-box;
          color: $text-gray;
          font-size: 80%;
          text-align: left;
          word-break: break-all;
          overflow-wrap: anywhere;
          margin-bottom: 0.3rem;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .comment-footer {
      display: flex;
      align-items: flex-end;
      & > .comment-timestamp {
        color: $text-gray;
        font-size: 10px;
        flex: 1;
        user-select: none;
      }

      .badges {
        display: flex;
        align-items: flex-end;
        .reply-icon,
        .bg-good-icon {
          border: none;
          background: transparent;
          padding: 0;
          width: 1.7rem;
          height: 1.7rem;

          & > .material-icons {
            font-size: 1.3rem;
            padding: 0.2rem;
            width: 1.7rem;
            height: 1.7rem;
            color: $text-gray;
            border-radius: 100%;
            &:hover,
            &:focus {
              color: $text-gray;
              background-color: $placeholder-gray;
            }
          }
          & > .answer-reply {
            &:hover {
              color: $answer-label;
            }
            &:active {
              color: $answer-label;
            }
          }
        }
        .bg-good-icon {
          margin-left: 0.5rem;
          & > .material-icons {
            font-size: 1.1rem;
            padding: 0.3rem;
          }
          .selected {
            transform: rotate(-20deg);
          }
        }
      }
    }

    &.reaction {
      box-shadow: none;
      border: none;
      align-items: center;
      display: flex;
      padding: 0;
      min-height: 0;
      margin-left: 3rem;
      justify-content: flex-end;
      width: calc(100% - 48px);

      & > .icon-wrapper {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
        margin-right: 0.5em;
        align-self: center; // NOTE: for safari (yuta-ike)
      }

      & > .reaction-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .icon {
          color: $text-gray;
        }

        & > .long-text {
          flex: 1;
          display: -webkit-box;
          color: $text-gray;
          font-style: oblique;
          word-break: break-all;
          overflow-wrap: anywhere;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          margin-left: 0.6rem;
          text-align: left;
          line-height: 1;
          font-size: 13px;
        }

        &:hover {
          & > .long-text {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .icon-wrapper {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .question {
    background: #f2faff;
    border-color: #6db8ed;
  }
  .answer {
    background: #fff5f7;
    border-color: #eb9898;
  }

  .icon-wrapper {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    padding: 0.1em;
    border-radius: 100%;
    background: rgb(223, 223, 223);
    display: grid;
    align-items: center;
    position: relative;
    user-select: none;

    & > .question-badge {
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      background: rgb(48, 135, 248);
      color: white;
      position: absolute;
      bottom: -0.2rem;
      left: -0.2rem;
    }
    & > .answer-badge {
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      background: $answer-label;
      color: white;
      position: absolute;
      bottom: -0.2rem;
      left: -0.2rem;
    }
    & > .raction-badge {
      width: 1.1rem;
      height: 1.1rem;
      line-height: 1.1rem;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      background: rgb(48, 135, 248);
      color: white;
      position: absolute;
      bottom: -0.1rem;
      right: -0.7rem;
      & > .material-icons {
        font-size: 0.6rem;
        padding: 0.25rem;
        width: 1.1rem;
        height: 1.1rem;
        transform: rotate(-15deg);
      }
    }
  }
}
