/* モーダル */
$modal-header-height: 48px;

.modal-body {
  padding: 5px 25px;
  text-align: center;

  &.modal-scrollable {
    position: relative;
    height: 100%;
    padding: 1em 1rem;
    padding-bottom: calc(#{$modal-header-height} + 1rem);
    overflow-y: scroll;
    overscroll-behavior: none;
  }

  & .modal-index {
    display: inline;
  }

  & .secondary-textarea {
    padding: 5px;
    margin: 5px;
  }

  .topic-remove {
    border: 2px solid rgb(238, 58, 58);
  }

  .topic-add {
    margin: 10px;
    border: 2px solid rgb(101, 247, 108);
  }

  .topic-start {
    margin: 10px;
    border: 2px solid;
  }
}

.modal-header {
  height: $modal-header-height;
  padding: 5px 25px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.modal-body input {
  width: 70%;
}

.secondary-button {
  padding: 0 12px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(162, 162, 172, 0.2) 0 2px 4px 0;
  transition: all 0.3s;
}
