.sidebar-drawer {
  overflow-y: scroll;
  height: 100%;
  background: $bg;
  & .sidebar-drawer-transition {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s;
    }

    &-enter,
    &-leave-to {
      transform: translateX(-100%);
    }

    &-enter-to,
    &-leave {
      transform: translateX(0);
    }
  }
  & > .sidebar-content {
    position: relative;
    padding-top: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-modal;
  }
  @media screen and (max-width: $medium) {
    & .sidebar-drawer-transition {
      &-enter-active,
      &-leave-active {
        transition: all 0.3s;
      }
    }
  }

  & > .menu-button-wrapper {
    z-index: 40;
    background: transparent;
    fill: $black;

    & > .menu-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5em;
      height: 2.5em;
      color: white;
      background: transparent;
      border: none;
      border-radius: 99px;

      &:hover,
      &:focus {
        background: $hover-button-background;
      }
      &-enter,
      &-leave-to {
        transform: translateX(-100%);
      }
      &-enter-to,
      &-leave {
        transform: translateX(0);
      }
    }
    & > .sidebar-content {
      position: fixed;
      overflow-y: scroll;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
