.sidebar {
  width: 320px;
  height: 100%;
  z-index: 50;
  color: $black;
  display: flex;
  flex-direction: column;

  & > .top-section {
    display: flex;
    align-items: center;
    padding: 0 16px;

    & > .menu-button {
      background: transparent;
      border: none;
      border-radius: 99px;
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      transition: all 0.2s;

      &:hover,
      &:focus-within {
        background: $gray;
        outline: none;
      }
    }

    & > .title {
      font-size: 16px;
      vertical-align: middle;
    }
  }

  & > .event-logo {
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
    width: 72px;
    max-width: 100%;
    border-radius: 30px;
    background-color: $white;
  }

  & > .event-description {
    margin-top: 16px;
    color: #515151;
    font-size: 12px;
    padding: 0 32px;
  }

  & > .channel-section {
    margin-top: 20px;
    padding-left: 32px;
    ul {
      list-style: none;
      padding: 0;
    }

    & .channel {
      font-size: 18px;
      display: flex;
      flex-direction: column;

      & > .channel-content {
        position: relative;
        padding: 8px 8px;
        margin-bottom: 8px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background: transparent;
        border: none;
        display: block;
        text-align: left;
        color: $black;

        &:not(.has-subchannel):hover,
        &:not(.has-subchannel):focus {
          background: rgba($primary, 0.2);
          outline: none;
        }

        &:not(.has-subchannel).selected {
          transition: all 0.1s;
          background: $primary;
          color: $white;
        }

        & > .channel-handle {
          position: absolute;
          border-radius: 99px;
          width: 36px;
          height: 36px;
          top: 50%;
          left: -28px;
          transform: translateY(-50%);
          transition: background 0.2s;

          &:hover,
          &:focus-visible {
            background: $gray;
            & svg {
              fill: $text-gray;
            }
          }

          & svg {
            fill: $disabled-gray;
            transform: rotate(-90deg);
            transition: all 0.3s;
          }

          &.open {
            & svg {
              transform: rotate(0deg);
            }
          }
        }

        &:hover > .channel-handle,
        &:focus-visible > .channel-handle {
          background: $gray;
          fill: $text-gray;
          & svg {
            fill: $text-gray;
          }
        }

        &:focus {
          outline: none;
        }

        & > .hashtag {
          margin-right: 10px;
        }
      }

      & .subchannel-list {
        overflow: hidden;
        transition: height 0.1s;

        & > .subchannel-wrapper {
          display: flex;
          & > .subchannel {
            flex: 1;
            position: relative;
            margin-top: 4px;
            margin-left: 3em;
            padding-left: 0.5em;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            font-size: 16px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            border: none;
            display: block;
            text-align: left;
            color: $black;
            background: transparent;

            &:hover,
            &:focus {
              background: rgba($primary, 0.2);
              outline: none;
            }

            &.selected {
              transition: all 0.1s;
              background: $primary;
              color: $white;
            }

            & > .subchannel-arrow {
              position: absolute;
              bottom: 1.2em;
              left: -1.25em;
              width: 1em;
              height: 2.8em;
              border-left: 2px solid #c8c8c8;
              border-bottom: 2px solid #c8c8c8;
              border-bottom-left-radius: 4px;

              &.first {
                height: 1.5em;
              }
            }
            & > .hashtag {
              margin-right: 10px;

              & > .subchannel-index {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  & > .footer-section {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 0 auto;
    padding: 0 0 1rem 0;

    & > .footer-link {
      margin-top: 0.5em;
      margin-right: 1em;

      & > a {
        color: $disabled-gray;
        text-decoration: underline;
        font-size: 14px;

        &:hover,
        &:focus-visible {
          color: $text-gray;
          outline: none;
        }
      }
    }
  }
}
