// 変数定義
$black: #333;
$gray: rgb(228, 228, 228);
$pink: #f83060;

$text-gray: rgb(99, 99, 99);

$hover-button-background: rgba(214, 214, 214, 0.3);

$active-button-background: rgba(187, 187, 187, 0.3);

$placeholder-gray: #F2F2F2;
$primary: #F28D2F;

// sushi-icons
$tea: #849456;
$maguro: #D12222;
$salmon: #F57A45;
$ikura: #F15E2F;
$ebi: #F57070;
$uni: #D2A83A;
$iwashi: #8997A9;
$tai: #E8A9A9;
$shirasu: #8DA8C8;
$hokki: #D85B5B;
$harasu: #F3A07D;
$syari: #A3A3A3;