.home{
  background-color: $bg;
  min-height: 100vh;
  &__header{
    position: sticky;
    top: 0;
    background-color: $admin-primary;
    color: white;
    @include text-size("lg");
    @include home-padding-layout(0.5);
  }
  &__main{
    @include home-padding-layout(1);
  }
}

.home-top{
  &__add-new-event-button{
    @include home-button-text;
  }
}

.home-create{
  &__create-new-event-button{
    @include home-button-text;
  }
}

.home-modal{
  display: flex;
  flex-direction: column;
  background-color: $bg !important;
  padding: 1.5rem;
  &__header{
    @include text-size("mdi")
  }
  &__content{
    flex: 1;
    margin: 1rem 0;
  }
  &__footer{
    align-self: flex-end;
  }
  &__hide-button{
    @include home-button-text;
  }
}
.vm--overlay{
  background-color: rgba(10,10,10,0.5) !important;
}

.home-add-sessions-modal{
  &__separators{
    color: $text-gray;
    margin: 0 0 1rem 0;
    @include text-size("sm");
    @media screen and (min-width: $small+px) {
      display: flex;
    }
    input{
      position: relative;
      top: 2px;
      margin: 0;
    }
    label{
      margin: 0 1rem 0 0;
    }
  }
  &__textarea{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    resize: vertical;
    width: 100%;
    @media screen and (min-width: $small+px) {
      padding: 1.5rem;
    }
  }
}

.home-creation-completed-modal{
  &__event-name{
    margin: 0 0 1rem 0;
    b{
      margin-left: 0.5rem;
      @include text-size("mdi")
    }
  }
  &__event-detail{
    margin: 0 0 1rem 0;
    &--description{
      a{
        text-decoration: underline !important;
        @include invalidated-a-style;
      }
    }
  }
  &__invitation{
    &--title{
      margin: 0 0 0.5rem 0;
    }
    &__content{
      @media screen and (min-width: $small+px) {
        display: flex;
      }
      &--title{
        margin: 0 0 5px 0;
        @include text-size("sm");
        @media screen and (min-width: $small+px) {
          margin: 10px 5px 0 0;
        }
      }
      &__detail{
        background-color: white;
        padding: 10px;
        @media screen and (min-width: $small+px) {
          display: flex;
          flex: 1;
          align-items: flex-start;
        }
        @include text-size("sm");
        &--url{
          @media screen and (min-width: $small+px) {
            flex: 1;
	          overflow-x: scroll;
          }
        }
        &--button{
          border: none;
          background:rgba(255, 255, 255, 0);
          color: $admin-primary;
          padding: 0;
        }
      }
    }
  }
}