@mixin home-padding-layout($py:0) {
  padding: $py+rem 5%;
  margin-bottom: 2rem;
  @media screen and (min-width: $small+px) {
    padding: $py+rem 10%;
  }
  @media screen and (min-width: $large+px) {
    padding: $py+rem 20%;
  }
}

@mixin home-button-text($color:$admin-primary){
  display: flex;
  align-items: center;
  color: $color;
  border: 2px solid;
  border-radius: 4px;
  background:rgba(255, 255, 255, 0);
  padding: 3px 6px;
  text-decoration:none;
  .material-icons{
    margin-left: -3px;
  }
  a{
    display: flex;
    align-items: center;
  }
  &:hover,&:focus{
    @if $color == $admin-primary {
      background-color: rgba(112,145,195,0.2);
    }
    @else if $color == $danger{
      background-color: rgba(225,147,147,0.2);
    }
  }
  @include invalidated-a-style;
}

@mixin text-size($size:"normal"){
  @if $size=="normal"{
    font-size: 0.9rem;
  }
  @else if $size=="lg"{
    font-size: 1.5rem;
  }
  @else if $size=="mdi"{
    font-size: 1rem;
  }
  @else if $size=="sm"{
    font-size: 0.7rem;
  }
}

@mixin invalidated-a-style{
  a{
    color: inherit;
    text-decoration: none;
  }
}

@mixin white-text-box($expand:"false"){
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  @if $expand=="true"{
    padding: 0.5rem 1rem;
  }
  &:focus{
    outline: none;
  }
}

@mixin material-icon-button($size:"normal",$color:$text-gray,$border:"none"){
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  &:hover,&:focus{
    cursor: pointer;
    @if $color==#F07B7B{
      background-color: rgba(240,123,123,0.2);
    }
    @else{
      background-color: rgba(111,111,111,0.2);
    }
  }
  .material-icons{
    @if $size=="sm" {
      font-size: 8px;
    }
    @else if $size=="normal" {
      font-size: 18px;
    }
    @if $border=="solid"{
      border: 2px solid;
      font-weight: bold;
    }
    color: $color;
    border-radius: 100%;
  }
}


@mixin home-event-list-element{
  display: flex;
  width: 100%;
  margin: 0 0 0.5rem 0;
  @include white-text-box($expand:"true");
  &--name{
    width: 30%;
    @media screen and (min-width: $small+px) {
      width: 50%;
    }
  }
  &--date{
    margin: 0 0.5rem;
    @media screen and (min-width: $small+px) {
      margin: 0 2rem;
    }
  }
  &--role{
    flex: 1;
  }
  &--status{
    &--label{
      padding: 0px 6px !important;
      color: $danger;
      border-radius: 4px;
      border: 1px solid;
    }
  }  
}