name: ci

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:

        image: postgres
        env:
          POSTGRES_PASSWORD: pass
          POSTGRES_USER: root
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      DATABASE_URL: postgres://root:pass@localhost:5432/test
      DB_SSL: OFF

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'yarn'
      - name: Install packages
        run: yarn
      - name: Run lint
        run: yarn lint
      - name: Run format dry-run
        run: yarn fix:dry-run
      - name: Initialize DB
        run: psql -f ./app/server/src/database/ini.sql ${{ env.DATABASE_URL }}
      - name: Run test
        run: yarn --cwd ./app/server test
